Source: ircddbd
Section: hamradio
Priority: extra
Maintainer: Michael Dirska <dl1bff@mdx.de>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://ircDDB.net

Package: ircddbd
Architecture: any
Depends: libc6, java6-runtime-headless, curl, libpg-java, adduser
Description: ircDDB daemon
 The ircDDB daemon downloads the latest JAR files
 and starts the ircDDB java program.

